afl.code-workspace
results/
wandb/
*/__pycache__/
src/data/reddit.py
src/data/partitioned_cifar10.py
src/data/FederatedEMNIST/FederatedEMNIST_preprocessed.pickle
src/data/FederatedEMNIST/fed_emnist_train.h5
src/data/FederatedEMNIST/fed_emnist_test.h5
src/data/FederatedEMNIST/fed_emnist.tar.bz2
src/data/FederatedEMNIST/download_federatedEMNIST.sh
src/data/FederatedEMNIST/.DS_Store
src/data/federated_emnist_iid.py
src/data/federated_emnist.py
src/data/fed_cifar100.py
src/data/celeba.py
src/data/__pycache__/__init__.cpython-38.pyc
src/data/__pycache__/celeba.cpython-38.pyc
src/data/__pycache__/federated_emnist.cpython-38.pyc
src/data/__pycache__/federated_emnist_iid.cpython-38.pyc
src/data/__pycache__/federated_emnist_noniid.cpython-38.pyc
src/data/__pycache__/partitioned_cifar10.cpython-38.pyc
src/data/__pycache__/reddit.cpython-38.pyc
src/data/reddit.py
src/data/partitioned_cifar10.py
src/data/FederatedEMNIST/download_federatedEMNIST.sh
src/data/federated_emnist_iid.py
src/data/federated_emnist.py
src/data/fed_cifar100.py
src/data/celeba.py
